<header id="navbar" class="container-fluid fixed-top px-2 text-light">
   <nav class="navbar navbar-expand-xl navbar-dark">
      <a class="navbar-brand"
         href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
         <img src="../../../assets/img/logo_yoprogramo.png" width="100px" height=""
            alt="Logo de Argentina Programa - #YoProgramo" title="Argentina Programa - #YoProgramo">
      </a>      
   </nav>
</header>