<section id="educacion" class="container-lg pad-top mb-5">
   <header class="ms-3">
       <h2 class=""><i>Educación</i></h2>
       <button class="btn-nuevo oculto" type="button">
           <b>+</b>
       </button>
   </header>
   <ul>
       <li *ngFor="let educacion of educacionList">
           <article class="d-flex-xl align-items-center art-edu">
               <div class="flex-shrink-0">
                   <div class="d-flex align-items-center">
                       <div class="flex-shrink-1 mx-3">
                           <img [src]="educacion.logo" width="60px" height="60px"
                               [title]="educacion.entidad"
                               alt="Logo de {{educacion.entidad}}"/>
                       </div>
                       <div class="flex-grow-2">
                           <div class="align-middle">
                               <h3 class="fs-4 fw-bold">{{educacion.entidad}}</h3>
                               <h4 class="fs-6">{{educacion.titulo}}</h4>
                           </div>
                           <div class="fs-6">{{educacion.localidad}}</div>
                       </div>
                   </div>
               </div>
               <div class="flex-grow-1 p-3 fs-6 align-middle">
                   {{educacion.fechaIni}} a {{educacion.fechaFin}} - Nivel: {{educacion.nivel}}, {{educacion.estado}}
               </div>
           </article>
       </li>
   </ul>
</section>