<div class="container-fluid portada">
   <div class="container-lg centrar text-light txt">
      <h1 class="mx-lg-auto">Hola!, soy <strong>{{miNombre.nombres}} {{miNombre.apellidos}}</strong></h1>
      <hr>
      <p class="fs-4 mb-5">Te invito a que leas sobre mí.</p>
      <!-- <button id="btnLogin" type="button" class="nav-link btn btn-link fs-5 text-light mx-auto"
         data-bs-toggle="modal" data-bs-target="#formLogin" (click)="login()">
         <strong><i class="bi bi-hand-thumbs-up text-warning"></i> Abrir Portfolio</strong>
      </button>  -->
   </div>   
</div>