.portada {
   /* height: 100vh; */
   background: url("../assets/img/img01.png") no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.centrar {
   width: 100vw;
   height: 100vh;
   text-align: center;
   padding-top: calc(100vh / 3.5);
}

button {
   padding: 2px 10px 5px 10px;
   border-radius: 5px 0 15px 0;
   -webkit-border-radius: 5px 0 15px 0;
   -moz-border-radius: 5px 0 15px 0;
   -ms-border-radius: 5px 0 15px 0;
   -o-border-radius: 5px 0 15px 0;
   border: yellow solid 3px;
   background-color: midnightblue;
   box-shadow: 0 3px 7px rgba(48, 46, 18, 0.945), 0 2px 10px rgba(221, 234, 84, 0.74);
}

/* button :hover {
   padding: 2px 10px 5px 10px;
   border-radius: 5px 0 15px 0;
   -webkit-border-radius: 5px 0 15px 0;
   -moz-border-radius: 5px 0 15px 0;
   -ms-border-radius: 5px 0 15px 0;
   -o-border-radius: 5px 0 15px 0;
   border: yellow solid 2px;
   background-color: darkblue;
   box-shadow: 0 3px 7px rgba(221, 234, 84, 0.74), 0 2px 10px rgba(48, 46, 18, 0.945);
} */