<section id="cursos" class="container-lg pad-top mb-5">
    <header class="ms-3">
        <h2 class="text-white txt"><i>Cursos & Seminarios</i></h2>
        <button class="btn-nuevo oculto" type="button">
            <b>+</b>
        </button>
    </header>

    <ul>
        <li *ngFor="let cursos of cursosList">
            <article class="d-flex-xl align-items-center art-cur">
                <div class="flex-shrink-0">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-1 mx-3">
                            <img [src]="cursos.logo" width="60px" height="60px"
                                [title]="cursos.entidad" alt="Logo de {{cursos.entidad}}" />
                        </div>
                        <div class="flex-grow-2">
                            <div class="align-middle">
                                <h3 class="fs-5 fw-bold mt-3">{{cursos.entidad}}</h3>
                                <h4 class="fs-6">{{cursos.tema}}</h4>
                            </div>
                            <div class="fs-6 mb-3">{{cursos.fechaIni}} - {{cursos.fechaFin}}</div>
                        </div>
                    </div>
                </div>
                <div>
                  <button class="btn-edt mx-2 oculto" type="button">
                     <i class="bi bi-pen"></i>
                  </button>
                  <button class="btn-borrar mb-4 oculto" type="button">
                     <b>X</b>
                  </button>
               </div>
            </article>
        </li>
    </ul>
</section>